.sign-up-daily-ui-1,
.sign-up-daily-ui-1 * {
    box-sizing: border-box;
}

.sign-up-daily-ui-1 {
    background: #2b4f62;
    width: 1440px;
    height: 1024px;
    position: relative;
    overflow: hidden;
}

.rectangle-4 {
    background: #f8fbfd;
    border-radius: 80px;
    width: 861px;
    height: 1024px;
    position: absolute;
    left: 671px;
    top: 0px;
}

.find-3-d-object-and-mockups-and-illustration-hare {
    color: #ffffff;
    text-align: left;
    font: 600 30px/45px "Poppins", sans-serif;
    position: absolute;
    left: 120px;
    top: 120px;
}

.abstraction {
    width: 646px;
    height: 689px;
    position: absolute;
    left: 124.92px;
    top: 294px;
    transform-origin: 0 0;
    transform: rotate(0.409deg) scale(1, 1);
}

.arrow-drop-down {
    position: absolute;
    left: 1291px;
    top: 58px;
    overflow: visible;
}

.english-uk {
    color: #655e5e;
    text-align: left;
    font: 400 14px/38px "Poppins", sans-serif;
    position: absolute;
    left: 1195px;
    top: 42px;
}

.group-7 {
    position: absolute;
    inset: 0;
}

.create-accuont {
    color: #000000;
    text-align: left;
    font: 500 24px/38px "Poppins", sans-serif;
    position: absolute;
    left: 884px;
    top: 275px;
}

.sign-up-with-google {
    color: #645e5e;
    text-align: left;
    font: 400 12px/38px "Poppins", sans-serif;
    position: absolute;
    left: 940px;
    top: 335px;
}

.rectangle-2 {
    border-radius: 10px;
    border-style: solid;
    border-color: #8b8484;
    border-width: 1px;
    width: 200px;
    height: 45px;
    position: absolute;
    left: 884px;
    top: 332px;
}

.google {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 894.26px;
    top: 342px;
    transform-origin: 0 0;
    transform: rotate(0.632deg) scale(1, 1);
}

.group-2 {
    width: 200px;
    height: 45px;
    position: static;
}

.sign-up-with-facebook {
    color: #645e5e;
    text-align: left;
    font: 400 12px/38px "Poppins", sans-serif;
    position: absolute;
    left: 1149px;
    top: 335px;
}

.rectangle-22 {
    border-radius: 10px;
    border-style: solid;
    border-color: #8b8484;
    border-width: 1px;
    width: 200px;
    height: 45px;
    position: absolute;
    left: 1104px;
    top: 332px;
}

.facebook-logo-2019 {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 1114.26px;
    top: 342px;
    transform-origin: 0 0;
    transform: rotate(0.632deg) scale(1, 1);
}

.group-5 {
    width: 402px;
    height: 289px;
    position: static;
}

.group-9 {
    width: 402px;
    height: 289px;
    position: static;
}

.allready-have-an-account-log-in {
    text-align: center;
    position: absolute;
    left: 884px;
    top: 676px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.allready-have-an-account-log-in-span {
    color: #645e5e;
    font: 400 12px/38px "Poppins", sans-serif;
}

.allready-have-an-account-log-in-span2 {
    color: #000000;
    font: 400 12px/38px "Poppins", sans-serif;
}

.allready-have-an-account-log-in-span3 {
    color: #005c8d;
    font: 400 18px/38px "Poppins", sans-serif;
}

.group-8 {
    width: 400px;
    height: 45px;
    position: static;
}

.group-6 {
    width: 400px;
    height: 45px;
    position: static;
}

.rectangle-3 {
    background: #2b4f62;
    border-radius: 10px;
    width: 400px;
    height: 45px;
    position: absolute;
    left: 884px;
    top: 611px;
}

.create-account {
    color: #ffffff;
    text-align: center;
    font: 700 18px/38px "Poppins", sans-serif;
    position: absolute;
    left: 1001.29px;
    top: 614px;
    width: 166.92px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.group-3 {
    width: 402px;
    height: 38px;
    position: static;
}

.full-name {
    color: #464646;
    text-align: center;
    font: 400 18px/38px "Poppins", sans-serif;
    position: absolute;
    left: 884px;
    top: 425px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-name-span {
    color: #464646;
    font: 400 18px/38px "Poppins", sans-serif;
}

.full-name-span2 {
    color: #464646;
    font: 400 18px/38px "Poppins", sans-serif;
}

.full-name-span3 {
    color: #464646;
    font: 400 18px/38px "Poppins", sans-serif;
}

.full-name-span4 {
    color: #464646;
    font: 400 18px/38px "Poppins", sans-serif;
}

.line-1 {
    border-style: solid;
    border-color: #b7b2b2;
    border-width: 1px 0 0 0;
    width: 400px;
    height: 0px;
    position: absolute;
    left: 886px;
    top: 457.83px;
    transform-origin: 0 0;
    transform: rotate(-0.262deg) scale(1, 1);
}

.group-4 {
    width: 400px;
    height: 38px;
    position: static;
}

.email-address {
    color: #464646;
    text-align: left;
    font: 400 18px/38px "Poppins", sans-serif;
    position: absolute;
    left: 884px;
    top: 484px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.line-12 {
    border-style: solid;
    border-color: #b7b2b2;
    border-width: 1px 0 0 0;
    width: 400px;
    height: 0px;
    position: absolute;
    left: 884px;
    top: 516.83px;
    transform-origin: 0 0;
    transform: rotate(-0.262deg) scale(1, 1);
}

.password {
    color: #464646;
    text-align: center;
    font: 400 18px/38px "Poppins", sans-serif;
    position: absolute;
    left: 884px;
    top: 543px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-13 {
    border-style: solid;
    border-color: #b7b2b2;
    border-width: 1px 0 0 0;
    width: 400px;
    height: 0px;
    position: absolute;
    left: 884px;
    top: 575.83px;
    transform-origin: 0 0;
    transform: rotate(-0.262deg) scale(1, 1);
}

.visibility-off {
    position: absolute;
    left: 1254px;
    top: 558px;
    overflow: visible;
}